.table {
  width: 600px;
  margin: 0 auto;
  border-collapse: collapse;
  flex: 1;
}

.tableHead {
  background-color: #4d4d4d;
  color: white;
  th {
    border: 1px solid black;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
  }
}

.tableItem:nth-child(even) {
  background-color: #cccccc;
}

td {
  border: 1px solid black;
  padding: 12px 0;
  text-align: center;
  width: calc(100% / 3);
}

td:first-child {
  text-align: left;
  padding-left: 11%;
}
